*Makefile*
.deps
config.log
config.status
doc/vice.pdf
po/*
vice-macosx-*
*gen*
vice.info
src/config.h
src/infocontrib.h
src/resid-dtv/siddtvdefs.h
src/resid-fp/siddefs-fp.h
src/resid/siddefs.h
src/stamp-h1
src/translate.h
src/try.tmp
src/c1541
src/cartconv
src/petcat
src/vsid
src/x128
src/x64
src/x64dtv
src/x64sc
src/xcbm2
src/xcbm5x0
src/xpet
src/xplus4
src/xvic
*.o
*.a


